{% extends 'yeld.html' %}
{% load bootstrap5 %}
{% block 'titulo' %} Cadastro {% endblock %}
{% block 'conteudo' %}
<h2>Cadastro de usuário</h2>
{% bootstrap_css %}
{% bootstrap_messages %}
<form action="" method="post" class="form">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Usuário</label>
        <input type="text" class="form-control" name="usuario"
               placeholder="Digite seu usuário" value="{{request.POST.usuario}}">
    </div>
    <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input type="email" class="form-control" name="email"
               placeholder="Digite seu usuário" value="{{request.POST.usuario}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Primeiro nome</label>
        <input type="text" class="form-control" name="primeiro"
               placeholder="Digite seu usuário" value="{{request.POST.usuario}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Senha 1</label>
        <input type="password" class="form-control" name="senha1"
               placeholder="Digite sua senha" >
    </div>
      <div class="mb-3">
        <label class="form-label">Senha 2</label>
        <input type="password" class="form-control" name="senha2"
        placeholder="Repita sua senha" >
    </div>
    <button type="submit" class="btn btn-primary">Fazer cadastro</button>
</form>
{% endblock %}
